<!-- todo: figure out how to move these stylesheet links to the head, where they belong (but this works for now) -->
<link rel="stylesheet" href="/stylesheets/google-login.css">
<!--link rel="stylesheet" href="/stylesheets/strike.css"-->


<div class="container" style="max-width: 350px;">
    <h1>Login</h1>

    <!--p class="lead mb-3">For existing users.</p-->
    <p class="lead mb-3">For new or existing users.</p>

    <div class="d-grid gap-2">


        <a href="/auth/google/login" class="google-login-button btn btn-block position-relative">
            <span class="google-login-button-wrapper position-absolute top-50 start-0 translate-middle-y">
                <img class="google-logo"
                    src="/images/rainbow-g-logo.svg"
                    alt="Rainbow G Logo"
                >
            </span>

            <span class="google-login-button-text">Login with Google</span>
        </a>

    </div>


</div>
